Repository hkraal/ssht: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

black:
  name: Format using black
  language: system
  entry: poetry run black
  require_serial: true

blacken-docs:
  name: Format documentation examples using black
  language: system
  entry: poetry run blacken-docs
  require_serial: true

codespell:
  name: Check code for common misspellings
  language: system
  entry: poetry run codespell
  args:
  - --ignore-words=.codespell-ignore

debug-statements:
  name: Debug Statements and imports (Python)
  language: system
  entry: poetry run debug-statement-hook

flake8:
  name: Enforcing style guide with flake8
  language: system
  entry: poetry run flake8
  require_serial: true

isort:
  name: Sort all imports with isort
  language: system
  entry: poetry run isort

pylint:
  name: Starring code with pylint
  language: system
  entry: poetry run pylint

pytest:
  name: Running tests and test coverage with pytest
  language: system
  entry: poetry run pytest --cov ssht tests
  pass_filenames: false

pyupgrade:
  name: Checking for upgradable syntax with pyupgrade
  language: system
  entry: poetry run pyupgrade
  args:
  - --py311-plus
  - --keep-runtime-typing

Flake8 fixes
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Flake8 fixes
  ssht/plugins.py
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Pylint fixes
  pyproject.toml
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Drop support for python < 3.8
  .travis.yml
  pyproject.toml
Due: codespell

Update idna
  poetry.lock
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: blacken-docs, codespell

Remove badges
  .travis.yml
  README.md
Due: blacken-docs, codespell

Update dependencies
  poetry.lock
Due: none

Release patch
  CHANGELOG.md
  pyproject.toml
Due: blacken-docs, codespell

Update dependabot.yml
  .github/dependabot.yml
Due: codespell

Fix python version constraint
  pyproject.toml
Due: codespell

Add poetry as dependency
  poetry.lock
  pyproject.toml
Due: codespell

Improve logging
  CHANGELOG.md
  pyproject.toml
  ssht/plugins.py
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Add python 3.13 to testing
  .github/workflows/test.yml
Due: codespell

Drop python 3.8 support
  pyproject.toml
Due: codespell

Setup and run pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
  ssht/plugins.py
  ssht/ssht.py
  tests/test_host.py
  tests/test_parser.py
  tests/test_ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Add fzf support
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Update changelog
  CHANGELOG.md
  pyproject.toml
Due: blacken-docs, codespell

Add eol
  .pre-commit-config.yaml
Due: codespell

Check on none value
  ssht/ssht.py
Due: black, blacken-docs, codespell, debug-statements, flake8, isort, pylint, pytest, pyupgrade

Run poetry update
  poetry.lock
Due: none

Release 2.0.0
  CHANGELOG.md
  pyproject.toml
Due: blacken-docs, codespell

Add renovate.json
  renovate.json
Due: codespell

Update Python to < 3.14
  pyproject.toml
Due: codespell

Update dependency pip to v24.3.1
  .github/workflows/requirements.txt
Due: codespell

Update dependency pip to v24.3.1 (#59)
  .github/workflows/requirements.txt
Due: codespell

Update dependency pip to v25
  .github/workflows/requirements.txt
Due: codespell

Update dependency pip to v25 (#60)
  .github/workflows/requirements.txt
Due: codespell

Update dependency poetry to v1.8.5
  .github/workflows/requirements.txt
Due: codespell

Update dependency poetry to v2
  .github/workflows/requirements.txt
Due: codespell

Update dependency poetry to v2 (#61)
  .github/workflows/requirements.txt
Due: codespell

chore(deps): require python 3.9.2 or above for cryptography bump
  poetry.lock
  pyproject.toml
Due: codespell

chore: update classifiers
  pyproject.toml
Due: codespell

Release 2.0.1
  CHANGELOG.md
  pyproject.toml
Due: blacken-docs, codespell

chore(deps): update dependency pip to v25.1
  .github/workflows/requirements.txt
Due: codespell

Path conditions:
  black: any of: \.py$
  blacken-docs: any of: \.(rst|md|markdown|py|tex)$
  codespell: any file but: ^poetry\.lock$
  debug-statements: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  pylint: any of: \.py$
  pytest: any of: \.py$
  pyupgrade: any of: \.py$
